<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">

    <title>@ViewBag.Title - My ASP.NET Application</title>     
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />  
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <link href="~/Content/css/footer-basic-centered.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/respond.min.js"></script>     

    <script src="~/Scripts/modernizr-2.6.2.js"></script> 
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Product", "Products", "Product", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("About", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Contact Us", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @{
                if (Session["username"] != null && Session["userID"] != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @Html.ActionLink("Logout", "Logout", "VendorAdminPanel", new { area = "" }, new { @class = "navbar-brand" })
                        </ul>
                    </div>
                }
                else if (Session["customerID"] != null && Session["customerName"] != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @Html.ActionLink("Cart", "Shopping_cart", "Order", new { area = "" }, new { @class = "navbar-brand glyphicon glyphicon-shopping-cart" })
                            @Html.ActionLink("Logout", "Logout", "Customer", new { area = "" }, new { @class = "navbar-brand" })
                        </ul>
                    </div>
                }
                else
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @Html.ActionLink("Login", "Login", "Customer", new { area = "" }, new { @class = "btn btn-default navbar-btn" })
                            @Html.ActionLink("Sign Up", "Register", "Customer", new { area = "" }, new { @class = "btn btn-default navbar-btn" })
                        </ul>
                    </div>
                }
            }


        </div>
    </div>

    <div>
        <div class="container-fluid">
            @RenderBody()
            <hr />
        </div>
        <div class="panel panel-default col-md-12">
            <div class="panel-heading col-sm-4">
                <div class="col-md-12">
                    <div class="col-sm-2">
                        <img src="~/Content/img/truck-icon.png" width="50" ; height="50" />
                    </div>
                    <br />
                    <div class="col-sm-10">
                        <h3 class="panel-title">FAST AND FREE DELIVERY</h3>
                    </div>
                </div>  
            </div>
            <div class="panel-heading col-sm-4">
                <div class="col-md-12">
                    <div class="col-sm-2">
                        <img src="~/Content/img/lock-icon.png" width="50" ; height="50" />
                    </div>
                    <br />
                    <div class="col-sm-10">
                        <h3 class="panel-title">SAFE AND SECURE PAYMENT</h3>
                    </div>
                </div> 
            </div>
            <div class="panel-heading col-sm-4">
                <div class="col-md-12">
                    <div class="col-sm-2">
                        <img src="~/Content/img/Cash-icon.png" width="50" ; height="50" />
                    </div>
                    <br/>
                    <div class="col-sm-10">
                        <h3 class="panel-title">100% MONEY BACK GUARANTEED</h3>
                    </div>
                </div> 
            </div>
        </div>
        <hr />
        <footer class="footer-basic-centered">
            <p class="footer-company-motto">We Value Your Time & Money</p>

            <p class="footer-links">
                <a href="@Url.Action("Index","Home")">Home</a>
                ·
                <a href="@Url.Action("Index","Home")">About</a>
                ·
                <a href="@Url.Action("Index","Home")">Contact</a>
            </p>

            <p class="footer-company-name">Company Name &copy; @DateTime.Now.Year</p>
            <p class="footer-company-name">Developed by Ammar</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
</body>
</html>